<!doctype html>
<html lang="en">
  <head>
      <title>DemoApp</title>

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>


  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj61OtwK1i9M_W8Z23phoHNL3KXgkc7IYctA&s" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Hello Docker !</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Ce site à était visité {{ visits }} fois.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Contact</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Feedback</button>
      </div>
    </div>
  </div>


    <!-- Bootstrap Javascripts -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>    
</html> 


